

$font_family_lato: "Lato", sans-serif;
$welcome_bg: #f8f8f8;
$white_color: #FFFFFF;
$dark_white_color: #cfd4da;
$welcome_text_color: #999999;
$orange_color: #ff4c3b;
$black_color: #212529;
$black_color_2: #333333;
$black_color_3: #222222;
$black_color_4: #000000;
$black_color_5: #2d2a25;
$dark_black_color: #2B2B2B;
$grey_color: #777777;
$grey_color_2: #F7F7F7;
$grey_color_3: #F9F9F9;
$gray_color: #808080;
$yellow_color: #edb867;
$yellow_color_2: #FFA200;
$green_color: #808000;
$blue_color: #000080;
$red_color: #ff0000;
$crimson_color: #800000;
$sky_color: #87ceeb;
$green_color: #008000;
$green_color_2: #15B300;
$pink_color: #ffc0cb;
$transition: all linear 0.3s;

